* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background: linear-gradient(
    90deg,
    rgba(65, 183, 131, 1) 0%,
    rgba(0, 212, 255, 1) 100%
  );
  width: 100vw;
  height: 100vh;
}
.winning-message {
  display: none;
  position: fixed;
  width: 100vw;
  height: 100vh;
  background: rgba(0, 0, 0, 0.7);
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.winning-text {
  font-size: 3em;
  color: #fff;
}
.winning-button {
  font-size: 1.3rem;
  padding: 10px 15px;
  background-color: rgba(65, 183, 131, 1);
  color: #fff;
  border: none;
  border-radius: 3px;
  margin-top: 16px;
  cursor: pointer;
}
.winning-button:hover {
  background-color: #fff;
  color: rgba(65, 183, 131, 1);
}
.board {
  display: grid;
  width: 100%;
  height: 100%;
  justify-content: center;
  align-items: center;
  align-content: center;
  grid-template-columns: repeat(3, auto);
}
.cell {
  width: 100px;
  height: 100px;
  border: solid 2px #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  cursor: pointer;
}
.cell:nth-child(1),
.cell:nth-child(2),
.cell:nth-child(3) {
  border-top: none;
}
.cell:nth-child(1),
.cell:nth-child(4),
.cell:nth-child(7) {
  border-left: none;
}
.cell:nth-child(3),
.cell:nth-child(6),
.cell:nth-child(9) {
  border-right: none;
}
.cell:nth-child(7),
.cell:nth-child(8),
.cell:nth-child(9) {
  border-bottom: none;
}
.cell.x,
.cell.circle {
  cursor: not-allowed;
}
.cell.x::before,
.cell.x::after,
.board.x .cell:not(.x):not(.circle):hover::before,
.board.x .cell:not(.x):not(.circle):hover::after {
  content: "";
  width: calc(100% * 0.15);
  height: calc(100% * 0.9);
  background-color: #fff;
  position: absolute;
}
.cell.x::before,
.board.x .cell:hover::before {
  transform: rotate(45deg);
}
.cell.x::after,
.board.x .cell:hover::after {
  transform: rotate(-45deg);
}
.board.x .cell:not(.x):not(.circle):hover::before,
.board.x .cell:not(.x):not(.circle):hover::after {
  background: rgba(255, 255, 255, 0.4);
}

.cell.circle::before,
.cell.circle::after,
.board.circle .cell:not(.x):not(.circle):hover::before,
.board.circle .cell:not(.x):not(.circle):hover::after {
  content: "";
  width: calc(100% * 0.8);
  height: calc(100% * 0.8);
  background-color: #fff;
  position: absolute;
  border-radius: 50%;
}
.board.circle .cell:not(.x):not(.circle):hover::before,
.board.circle .cell:not(.x):not(.circle):hover::after {
  background: rgb(255, 255, 255, 0.4);
}
.show-winning-message {
  display: flex;
}
